@{
    ViewBag.Title = "Quantiguous Solutions";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <a href="http://quantiguous.com">Quantiguous Solutions</a><br/>
    <a href="http://apibanking.com">API Banking</a><br/>
    <a href="http://github.com/apibanking">GitHub</a><br/>

</address>

<address>
    <strong>Hello:</strong>   <a href="mailto:hello@quantiguous.com">hello@quantiguous.com</a><br />
    <strong>Support:</strong> <a href="mailto:support@quantiguous.com">support@quantiguous.com</a>
</address>