@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>API Banking</h1>
    <p class="lead">API Banking is a suite of intelligent services for building clever and deep interfaces with your bank.</p>
    <p><a href="http://apibanking.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Register for API Banking with your bank, subscribe to the services that you need, and get your credentials before you proceed.
        </p>
        <p><a class="btn btn-default" href="https://developer.yesbank.in">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>Samples are available in Java, Ruby and other languages.</p>
        <p><a class="btn btn-default" href="https://github.com/apibanking">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Assisted Onboarding</h2>
        <p>We provide engineering and program management services to help you onboard with your bank for your applications.</p>
        <p><a class="btn btn-default" href="http://quantiguous.com">Learn more &raquo;</a></p>
    </div>
</div>